<!DOCTYPE html>{% load staticfiles thumbnail cache %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'img/imagen.ico' %}" type="image/x-icon">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#FFC344">
    <!--  Pos -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">

    {# <link rel="icon" href="{% static '' %}"> #}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra-head %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    <!--Import Google Icon Font-->
</head>
<body>
<div id="back-preload">
    <div id="preloader" class="center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block navbar %}
    <nav class="black white-text">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">
                    <img class="img-logo" src="{% static 'img/logo.jpg' %}" alt="">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right options-nav hide-on-med-and-down">
                    <li><a href="">Home</a></li>
                    <li><a href="">Somos</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="">Home</a></li>
                    <li><a href="">Somos</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<main>
    {% block main %}
    {% endblock %}
</main>
{% block social %}

{% endblock %}
<footer>
    {% block footer %}
        <div class="footer-container">
            <div class="container">
                <div class="row">
                    <div class="social-main">
                        <div class="row">
                            <div class="social-container">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-copyright">
                OKEANOS 2017
                <a class="right" href="#!">|Administración|</a>
                <a class="right" href="#!">|Contacto|</a>
            </div>
        </div>
    {% endblock %}
</footer>
</body>

<script type="text/javascript" src="{% static 'js/images-loaded.js' %}"></script>

<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
<!--Import jQuery before materialize.js-->

<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init-animate.js' %}"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="{% static 'masonry/masonry.js' %}"></script>
<script>
    (function ($) {
        var $container = $('.container-masonry');
        $container.imagesLoaded(function () {
            $container.masonry({
                columnWidth: '.item',
                itemSelector: '.item'
            });
        });
        $('a[data-toggle=tab]').each(function () {
            var $this = $(this);
            $this.on('shown.bs.tab', function () {
                $container.imagesLoaded(function () {
                    $container.masonry({
                        columnWidth: '.item',
                        itemSelector: '.item'
                    });
                });
            });
        });
    }(jQuery));
</script>

{% block extra-js %}{% endblock %}
</html>
