<!DOCTYPE html>{% load staticfiles thumbnail cache i18n %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#FFC344">
    <!--  Pos -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ pagina.description }}">
    <meta name="keywords" content="{% for tag in all_tags %}{{ tag|slugify }}, {{ tag }}, {% endfor %}">
    <meta name="author" content="OKEANOS">
    <title>{{ pagina.titulo }}</title>
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">

    {# <link rel="icon" href="{% static '' %}"> #}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra-head %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    <!-- If you'd like to support IE8 -->
</head>
<body>
<div id="back-preload">
    <div id="preloader" class="center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block navbar %}
    <!-- Dropdown Structure -->
    <div class="black main-menu">
        <div class="navbar-fixed">
            <nav class="black-text white">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{% url 'home' %}" class="brand-logo center hide-on-med-and-down">
                            <img class="logo" src="{% static 'img/logoblack.png' %}" alt="">
                        </a>
                        <a href="{% url 'home' %}" class="brand-logo">OKEANOS</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                class="material-icons">menu</i></a>
                        {% block menu-links %}
                            <ul class="right options-nav hide-on-med-and-down">
                                <li><a class="waves-effect" href="#projects">{% trans 'Proyectos' %}</a></li>
                                <li><a class="waves-effect" href="#blog">{% trans 'Blog' %}</a></li>
                                <li><a class="waves-effect" href="#contacto">{% trans 'Contacto' %}</a></li>
                                <li class="flag">
                                    {% if LANGUAGE_CODE == 'es' %}
                                        <a class="tooltipped" href="/en" data-position="bottom" data-delay="50" data-tooltip="Change to english?">
                                            <img class="circle"
                                                 src="{% static 'flags/chile-29125.png' %}" alt="">
                                        </a>
                                    {% elif LANGUAGE_CODE == 'en' %}
                                        <a class="tooltipped" href="/es" data-position="bottom" data-delay="50" data-tooltip="¿Cambiar a español?">
                                            <img class="circle"
                                                 src="{% static 'flags/union-jack-26119.png' %}" alt="">
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                            <ul class="side-nav" id="mobile-demo">
                                <li><a href="">{% trans 'Inicio' %}</a></li>
                                <li><a href="">{% trans 'Somos' %}</a></li>
                                <li><a href="">{% trans 'Blog' %}</a></li>
                                <li><a href="">{% trans 'Contacto' %}</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
<main>
    {% block main %}
    {% endblock %}
</main>
{% block social %}

{% endblock %}
{% block contacto %}
    <section>
        <div class="mapa" id="mapa">
            <div id="map_container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7688.92004256751!2d-73.25309013141916!3d-39.83585981705053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x630463270946ee1a!2sUniversidad+Austral+de+Chile!5e0!3m2!1ses!2scl!4v1503953983529"
                        width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div id="map"></div>
        </div>
    </section>
    <section class="fondo-gris-1 section scrollspy" id="contacto">
        <div class="padding-top-max padding-bot-min">
            <div class="container">
                <div class="row">
                    <div class="padding-bot-min center">
                        <div class="title">{% trans 'Contacto' %}</div>
                    </div>
                    <div class="padding-bot-med">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card-panel hoverable">
                            <div>
                                <div class="title">{% trans 'Horario' %}</div>
                                <div class="content right-align">{% trans '09.00 a 13.00 y 15.00 a 18.00' %}</div>
                            </div>
                            <hr>
                            <div>
                                <div class="title">{% trans 'Ubicación' %}</div>
                                <div class="content right-align">
                                    {% blocktrans %}
                                        General Lagos 2086 <br>
                                        Edificio 2000, Oficina 2211.
                                        Valdivia, Los Ríos.
                                    {% endblocktrans %}
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="title">Email</div>
                                <div class="content right-align">fzilic@okeanos.cl</div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="col l8 m6 s12">
                            {% if contact.is_valid == False %}
                                <div class="card-panel hoverable">
                                    <div>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                {{ contact.name.errors }}
                                                <i class="material-icons prefix">people_outline</i>
                                                {{ contact.name }}
                                                <label for="name">{% trans 'Name' %}</label>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                {{ contact.mail.errors }}
                                                <i class="material-icons prefix">mail_outline</i>
                                                {{ contact.mail }}
                                                <label for="email" data-error="wrong" data-success="right">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ contact.errors }}
                                                <i class="material-icons prefix">message</i>
                                                {{ contact.message }}
                                                <label for="textarea1">{% trans 'Contenido' %}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-floating btn-large pulse btn-material color-3">
                                    <i class="material-icons">send</i>
                                </button>
                            {% else %}
                                <script>
                                    var $toastContent = $('<span>{% trans 'Email enviado' %}</span>').add($('<button class="btn-flat toast-action"><i class="material-icons">check</i></button>'));
                                    Materialize.toast($toastContent, 10000);
                                </script>
                                <div class="card-panel hoverable">
                                    <h3 class="title center-align">{% trans 'Mensaje enviado' %}</h3>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<div class="parallax-container herramienta">
    <div class="container">
        <div class="row center">
            <div class="header col s12 light">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="parallax">
        <img class="img-paralax" src="{% static 'img/sea-2322517_1920.jpg' %}">
    </div>
</div>
<footer>
    {% block footer %}
        <div class="footer-container padding-top-med">
            <div class="container">
                <div class="row">
                    <div class="social-main">
                        <div class="row">
                            <div class="social-container">
                                <ul class="social-icons">
                                    <li><a target="_blank" href="https://www.facebook.com/"><i
                                            class="fa fa-facebook-square"></i></a></li>
                                    <li><a target="_blank" href="https://twitter.com/"><i
                                            class="fa fa-instagram"></i></a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/"><i
                                            class="fa fa-twitter-square"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/"><i
                                            class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="black padding-bot-min">
            <div class="container">
                <div class="footer-copyright">
                    OKEANOS 2017
                    <a target="_blank" class="right" href="http://almacreativa.cl/">{% trans 'Desarrollo Web' %}: almacreativa.cl</a>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect btn-flat color-1 go-top pulse">
        <i class="material-icons white-text">arrow_drop_up</i>
    </a>
</body>

<script type="text/javascript" src="{% static 'js/images-loaded.js' %}"></script>
<!--Import jQuery before materialize.js-->

<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init-animate.js' %}"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="{% static 'masonry/masonry.js' %}"></script>
<script>
    (function ($) {
        var $container = $('.container-masonry');
        $container.imagesLoaded(function () {
            $container.masonry({
                columnWidth: '.item',
                itemSelector: '.item'
            });
        });
        $('a[data-toggle=tab]').each(function () {
            var $this = $(this);
            $this.on('shown.bs.tab', function () {
                $container.imagesLoaded(function () {
                    $container.masonry({
                        columnWidth: '.item',
                        itemSelector: '.item'
                    });
                });
            });
        });
    }(jQuery));
</script>
<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
{% block extra-js %}{% endblock %}
</html>