{% extends 'web/base.html' %}
{% load staticfiles thumbnail cache i18n %}

{% block description %}
    {% blocktrans %}
        Somos una empresa dedicada a desarrollar tecnología en robótica, monitoreo remoto y control a distancia para
        entornos marinos. Trabajamos apoyados por un equipo multidisciplinario para proveer soluciones integrales.
        Nuestro equipo posee experiencia en desarrollo de electrónica y software, sistemas electromecánicos, diseño de
        estructuras marinas, simulaciones computacionales de fluidos, entre otros. Nuestros proyectos en robótica
        incluyen el desarrollo de un dron submarino para exploración (AUV), robots para limpieza de jaulas salmoneras, o
        el estudio y diseño de estructuras para energía mareomotriz mediante elementos finitos y CFD.
    {% endblocktrans %}
{% endblock %}
{% block title %}
    {% trans 'Okeanos Marine Tech' %}
{% endblock %}
{% block main %}
    <div class="cabecera slider section scrollspy" id="home">
        <ul class="slides">
            {% for entrada in slider_entries %}
                <li>
                    {% if entrada.primera_imagen %}
                        <img src="{% thumbnail entrada.primera_imagen.archivo 'slider-img' %}">
                    {% else %}
                        <img src="{% static 'img/sunrise-1756274_1920.jpg' %}" alt="">
                    {% endif %}
                    <div class="caption center-align">
                        <h3>{{ entrada.titulo }}</h3>
                        <h5 class="light grey-text text-lighten-3">{{ entrada.subtitulo }}</h5>
                        {% if entrada.url_externa %}
                            <a target="_blank" href="{{ entrada.url_externa }}"
                               class="btn btn-large color-1 waves-effect">{% trans 'Ver más' %}</a>
                        {% else %}
                            <a href="{{ entrada.get_absolute_url }}" class="btn btn-large color-1 waves-effect">
                                {% trans 'Ver más' %}
                            </a>
                        {% endif %}
                    </div>
                </li>
            {% empty %}
                <li>
                    <img src="{% static 'img/water.jpg' %}">
                    <div class="caption center-align uppercased">
                        <h3 class="light grey-text text-lighten-3">{% trans 'Tecnología marina' %}</h3>
                        <h5 class="light grey-text text-lighten-3">{% trans '95% de los oceanos aún no se ha explorado' %}</h5>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <section class="white center">
        <div class="padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title padding-top-med">{% trans 'Okeanos Marine Technology' %}</div>
                    </div>
                    <div class="text container">
                        {% blocktrans %}
                            Somos una empresa dedicada a desarrollar tecnología en robótica, monitoreo remoto y control
                            a distancia para entornos marinos. Trabajamos apoyados por un equipo multidisciplinario para
                            proveer soluciones integrales. Nuestro equipo posee experiencia en desarrollo de electrónica
                            y software, sistemas electromecánicos, diseño de estructuras marinas, simulaciones
                            computacionales de fluidos, entre otros. Nuestros proyectos en robótica incluyen el
                            desarrollo de un dron submarino para exploración (AUV), robots para limpieza de jaulas
                            salmoneras, o el estudio y diseño de estructuras para energía mareomotriz mediante elementos
                            finitos y CFD.
                        {% endblocktrans %}
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title">Okeanos</div>
                    </div>
                    <div class="text container">
                        {% blocktrans %}
                            Proyectos de ingeniería para un mercado global desde la ciudad de Valdivia en la Región de
                            Los Ríos, Chile.
                        {% endblocktrans %}
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'imagen-parallax.html' %}

    <section class="white center section scrollspy" id="servicios">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title padding-top-med padding-bot-med">{% trans 'Servicios' %}</div>
                    </div>
                    <h4>{% trans 'Ingeniería' %}</h4>
                    <div class="text container padding-bot-max">
                        {% blocktrans %}
                            Okeanos brinda servicios de asesoría, ingeniería básica, de detalle y constructiva tanto
                            para prototipos como para maquinaria oceánica de nivel industrial, robots teleoperados,
                            sistemas de monitoreo y control, entre otros.
                        {% endblocktrans %}
                        <br>
                        {% blocktrans %}
                            También nos especializamos en el desarrollo de proyectos de software para gestión a
                            distancia, manejo de datos y toma de decisiones basada en información.
                        {% endblocktrans %}
                    </div>
                    <h4>{% trans 'Capacitación y soporte' %}</h4>
                    <div class="text container padding-bot-max">
                        {% blocktrans %}
                            Disponemos de programas de entrenamiento para la operación y puesta en marcha de sistemas
                            robóticos o automatizados.
                        {% endblocktrans %}
                        <br>
                        {% blocktrans %}
                            También brindamos apoyo 24/7 para la operación de todo tipo de sistemas electromecánicos,
                            caracterizándose nuestro servicio por su rápida capacidad de respuesta.
                        {% endblocktrans %}
                    </div>
                    <h4>{% trans 'Mantenimiento' %}</h4>
                    <div class="text container padding-bot-med">
                        {% blocktrans %}
                            Nuestro equipo pone a disposición su experiencia para realizar labores de mantenimiento y
                            actualización de sistemas electromecánicos y de software.
                        {% endblocktrans %}
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 section scrollspy" id="proyectos">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min center-align">
                        <div class="title">{% trans 'Proyectos' %}</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                    <div class="row container-masonry">
                        {% for entrada in projects_entries %}
                            <div class="col s12 m6 l4 item">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="">
                                        {% if entrada.primera_imagen %}
                                            <img src="{% thumbnail entrada.primera_imagen.archivo 'card-img' %}">
                                        {% else %}
                                            <img src="{% static 'img/default-img.jpg' %}">
                                        {% endif %}
                                        {% if entrada.url_externa %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entrada.url_externa }}" target="_blank">
                                                <i class="material-icons">link</i>
                                            </a>
                                        {% else %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entrada.get_absolute_url }}"
                                               target="_blank">
                                                <i class="material-icons">add</i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{ entrada.titulo }}</span>
                                        {% if entrada.subtitulo %}
                                            <p>{{ entrada.subtitulo }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row center">
                        <a href="{% url 'blog-app:home' %}"
                           class="btn btn-large color-1 waves-effect">{% trans 'Ver más' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white center section scrollspy" id="somos">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="row">
                    <div class="padding-bot-min">
                        <div class="title">{% trans 'Nuestro equipo' %}</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                </div>
                {% include 'equipo.html' %}
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 section scrollspy" id="blog">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min center-align">
                        <div class="title">Blog</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                    <div class="row container-masonry">
                        {% for entrada in other_entries %}
                            <div class="col s12 m6 l4 item">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="">
                                        {% if entrada.primera_imagen %}
                                            <img src="{% thumbnail entrada.primera_imagen.archivo 'card-img' %}">
                                        {% else %}
                                            <img src="{% static 'img/default-img.jpg' %}">
                                        {% endif %}
                                        {% if entrada.url_externa %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entrada.url_externa }}" target="_blank">
                                                <i class="material-icons">link</i>
                                            </a>
                                        {% else %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entrada.get_absolute_url }}"
                                               target="_blank">
                                                <i class="material-icons">add</i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{ entrada.titulo }}</span>
                                        {% if entrada.subtitulo %}
                                            <p>{{ entrada.subtitulo }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row center">
                        <a href="{% url 'blog-app:home' %}"
                           class="btn btn-large color-1 waves-effect">{% trans 'Ver más' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
