{% extends 'web/base.html' %}
{% load staticfiles thumbnail cache i18n %}
{% block main %}
    <div class="cabecera slider section scrollspy" id="home">
        <ul class="slides">
            <li>
                <img src="{% static 'img/water.jpg' %}">
                <div class="caption center-align uppercased">
                    <h3 class="light grey-text text-lighten-3">{% trans 'Tecnología marina' %}</h3>
                    <h5 class="light grey-text text-lighten-3">{% trans '95% de los oceanos aún no se ha explorado' %}</h5>
                </div>
            </li>
            {% for entry in last_entries %}
                <li>
                    {% if entry.first_img %}
                        <img src="{% thumbnail entry.first_img.file 'slider-img' %}">
                    {% else %}
                        <img src="{% static 'img/sunrise-1756274_1920.jpg' %}" alt="">
                    {% endif %}
                    <div class="caption center-align">
                        <h3>{{ entry.headline }}</h3>
                        <h5 class="light grey-text text-lighten-3">{{ entry.subheadline }}</h5>
                        {% if entry.external_url %}
                            <a target="_blank" href="{{ entry.external_url }}"
                               class="btn btn-large color-1 waves-effect">Ver
                                más</a>
                        {% else %}
                            <a href="{{ entry.get_absolute_url }}" class="btn btn-large color-1 waves-effect">Ver
                                más</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <section class="white center">
        <div class="padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title padding-top-med">{% trans 'Okeanos Marine Technology' %}</div>
                    </div>
                    <div class="text container">
                        {% blocktrans %}
                            Somos una empresa dedicada a desarrollar tecnología en robótica, monitoreo remoto y control
                            a distancia para entornos marinos. Trabajamos en la interfaz de diversas disciplinas para
                            proveer soluciones integrales. Nuestro equipo posee experiencia en desarrollo de electrónica
                            y software, sistemas electromecánicos, diseño de estructuras marinas, simulaciones
                            computacionales de fluidos, entre otros. Nuestros proyectos en robótica incluyen el
                            desarrollo de un dron submarino para exploración (AUV), robots para limpieza de jaulas
                            salmoneras, o el estudio y diseño de estructuras para energía mareomotriz mediante elementos
                            finitos y CFD.
                        {% endblocktrans %}
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title">Okeanos</div>
                    </div>
                    <div class="text container">
                        {% trans 'Proyectos de ingeniería para un mercado global desde la ciudad de Valdivia en la Región de Los Ríos, Chile.' %}
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="parallax-container herramienta">
        <div class="container">
            <div class="row center">
                <div class="header col s12 light">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="parallax">
            <img class="img-paralax" src="{% static 'img/sea-2322517_1920.jpg' %}">
        </div>
    </div>
    <section class="white center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title padding-top-med">{% trans 'Servicios de capacitación y soporte' %}</div>
                    </div>
                    <div class="text container">
                        {% blocktrans %}
                            Okeanos pone a disposición su experiencia en tecnología para realizar labores de
                            capacitación, soporte y mantenimiento según los requerimientos de sus clientes.
                        {% endblocktrans %}
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 section scrollspy" id="projects">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min center-align">
                        <div class="title">{% trans 'Projects' %}</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                    <div class="row container-masonry">
                        {% for entry in projects_entries %}
                            <div class="col s12 m6 l4 item">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="">
                                        {% if entry.first_img %}
                                            <img src="{% thumbnail entry.first_img.file 'card-img' %}">
                                        {% else %}
                                            <img src="{% static 'img/default-img.jpg' %}">
                                        {% endif %}
                                        {% if entry.external_url %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entry.external_url }}" target="_blank">
                                                <i class="material-icons">link</i>
                                            </a>
                                        {% else %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entry.get_absolute_url }}">
                                                <i class="material-icons">add</i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{ entry.headline }}</span>
                                        {% if entry.subheadline %}
                                            <p>{{ entry.subheadline }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row center">
                        <a href="{% url 'blog-app:home' %}" class="btn btn-large color-1 waves-effect">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white center section scrollspy" id="somos">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="row">
                    <div class="padding-bot-min">
                        <div class="title">{% trans 'Nuestro equipo' %}</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                </div>
                <div class="pictures-team container">
                    <div class="row center-align center">
                        <div class="col l4 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/Stuart.png' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Federico Zilic de Arcos</div>
                                <hr>
                                <div class="cargo padding-top-min padding-bot-min">{% trans 'Gerente General' %}</div>
                                <div class="titulo">{% trans 'Ingeniero Naval' %}</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/Kevin.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Alexssander Cabeza Strange</div>
                                <hr>
                                <div class="cargo padding-top-med padding-bot-med">{% trans 'Jefe de Ingeniería' %}</div>
                                <div class="titulo">{% trans 'Ingeniero Civil Electrónico' %}</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/Kevin.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Alexssander Cabeza Strange</div>
                                <hr>
                                <div class="cargo padding-top-med padding-bot-med">{% trans 'Jefe de Ingeniería' %}</div>
                                <div class="titulo">{% trans 'Ingeniero Civil Electrónico' %}</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="hide-on-med-and-down col s1 offset-s1"></div>
                        <div class="col l4 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/bob.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Álvaro Olmos Cruz</div>
                                <hr>
                                <div class="cargo padding-top-med padding-bot-med">{% trans 'Jefe de desarrollo de software' %}</div>
                                <div class="titulo">{% trans 'Ingeniero Civil Informático' %}</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-email" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/rapero.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">{% trans 'Fabian Ritter Gutierrez' %}</div>
                                <hr>
                                <div class="cargo padding-top-med padding-bot-med">{% trans 'Desarrollador de algoritmos especializados' %}</div>
                                <div class="titulo">{% trans 'Ingeniero Civil Acústico' %}</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 section scrollspy" id="blog">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min center-align">
                        <div class="title">Blog</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                    <div class="row container-masonry">
                        {% for entry in other_entries %}
                            <div class="col s12 m6 l4 item">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="">
                                        {% if entry.first_img %}
                                            <img src="{% thumbnail entry.first_img.file 'card-img' %}">
                                        {% else %}
                                            <img src="{% static 'img/water.jpg' %}">
                                        {% endif %}
                                        {% if entry.external_url %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entry.external_url }}" target="_blank">
                                                <i class="material-icons">link</i>
                                            </a>
                                        {% else %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entry.get_absolute_url }}">
                                                <i class="material-icons">add</i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{ entry.headline }}</span>
                                        {% if entry.subheadline %}
                                            <p>{{ entry.subheadline }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row center">
                        <a href="{% url 'blog-app:home' %}"
                           class="btn btn-large color-1 waves-effect">{% trans 'Ver más' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
