{% extends 'web/base.html' %}
{% load staticfiles thumbnail cache %}
{% block main %}
    <div class="cabecera slider">
        <ul class="slides">
            <li>
                <img src="{% static 'img/water.jpg' %}">
                <div class="caption center-align">
                    <h3 class="uppercased">Okeanos</h3>
                    <h5 class="light grey-text text-lighten-3">Heramienta de exploración</h5>
                </div>
            </li>
            <li>
                <img src="{% static 'img/sunrise-1756274_1920.jpg' %}">
                <div class="caption center-align">
                    <h3>Lorem ipsum dolor sit.</h3>
                    <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</h5>
                    <a href="" class="btn btn-large color-1 ">Ver más</a>
                </div>
            </li>
            <li>
                <img src="{% static 'img/planet-581239.jpg' %}">
                <div class="caption center-align">
                    <h3>Lorem ipsum dolor sit.</h3>
                    <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Nobis, rem.</h5>
                    <a href="" class="btn btn-large color-1 ">Ver más</a>
                </div>
            </li>
        </ul>
    </div>
    <section class="white center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title">Bienvenido a OKEANOS</div>
                    </div>
                    <div class="text container">
                        Nos dedicamos a desarrollar tecnologías de punta en robótica, monitoreo remoto y control a
                        distancia dentro de entornos marinos. Trabajamos desde los 39 grados de latitud sur para proveer
                        soluciones y soporte a clientes de todo el mundo.
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title">Desde la Universidad Austral de Chile: al mundo.</div>
                    </div>
                    <div class="text container">
                        Somos un Spin-Off que nace en 2016 dentro de la Universidad Austral de Chile, dentro del marco
                        del proyecto Fondef VIU15E0011.
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/planet-581239.jpg' %}">
        </div>
    </div>
    <section class="white center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min">
                        <div class="title">Brindamos servicios de capacitación y soporte
                        </div>
                    </div>
                    <div class="text container">
                        Según los requerimientos del cliente.Nuestras capacidades incluyen desarrollo de software y de
                        sistemas electrónicos embebidos, sistemas de actuación y control, plataformas autónomas (drones)
                        y sistemas de medición oceanográficos, entre otros.
                    </div>
                    <div class="padding-top-med">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 center">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="row">
                    <div class="padding-bot-min">
                        <div class="title">Nuestro equipo
                        </div>
                    </div>
                    <div class="text container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur culpa eius
                        hic, laboriosam maxime nostrum omnis sequi tempora totam. Animi at commodi cupiditate in
                        incidunt. Asperiores eligendi natus quibusdam.
                    </div>
                    <div class="padding-top-med padding-bot-med">
                        <hr>
                    </div>
                </div>
                <div class="pictures-team container">
                    <div class="row center-align">
                        <div class="col l3 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/Stuart.png' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Federico Zilic de Arcos</div>
                                <hr>
                                <div class="cargo">Gerente General</div>
                                <div class="titulo">Ingeniero Naval</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col l3 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/Kevin.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Alexssander Cabeza Strange</div>
                                <hr>
                                <div class="cargo">Jefe de Ingeniería</div>
                                <div class="titulo">Ingeniero Civil Electrónico</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col l3 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/bob.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Álvaro Olmos Cruz</div>
                                <hr>
                                <div class="cargo">Jefe de desarrollo de software</div>
                                <div class="titulo">Ingeniero Civil Informático</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-email" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col l3 m6">
                            <img class="responsive-img"
                                 src="{% static 'img/rapero.jpg' %}"
                                 alt="">
                            <div class="overlay white-text padding-top-med">
                                <div class="nombre padding-bot-min">Fabian Ritter Gutierrez</div>
                                <hr>
                                <div class="cargo">Desarrollador de algoritmos especializados</div>
                                <div class="titulo">Ingeniero Civil Acústico</div>
                                <div class="">
                                    <a class="white-text" href="">
                                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                                    </a>
                                    <a class="white-text" href="">
                                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white">
        <div class="padding-top-max padding-bot-max">
            <div class="container">
                <div class="container">
                    <div class="padding-bot-min center-align">
                        <div class="title">Blog</div>
                    </div>
                    <div class="padding-top-min padding-bot-med">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{% static 'img/new-zealand-647090_1920.jpg' %}">
                                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1"><i
                                            class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Título de la Tarjeta</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi autem
                                        consectetur deserunt dignissimos error, explicabo fugit mollitia nam nesciunt
                                        odit optio quas quibusdam quos rem saepe soluta tempore tenetur!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{% static 'img/new-zealand-647090_1920.jpg' %}">
                                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1"><i
                                            class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Título de la Tarjeta</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi autem
                                        consectetur deserunt dignissimos error, explicabo fugit mollitia nam nesciunt
                                        odit optio quas quibusdam quos rem saepe soluta tempore tenetur!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{% static 'img/new-zealand-647090_1920.jpg' %}">
                                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1"><i
                                            class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Título de la Tarjeta</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi autem
                                        consectetur deserunt dignissimos error, explicabo fugit mollitia nam nesciunt
                                        odit optio quas quibusdam quos rem saepe soluta tempore tenetur!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo-gris-1 center">
        <div class="padding-top-max padding-bot-min">
            <div class="container">
                <div class="row">
                    <div class="padding-bot-min">
                        <div class="title">Contacto</div>
                    </div>
                    <div class="padding-bot-med">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card-panel hoverable">
                            <div>
                                <div class="title">Horario</div>
                                <div class="content">09.00 a 13.00 y 15.00 a 18.00</div>
                            </div>
                            <hr>
                            <div>
                                <div class="title">Ubicación</div>
                                <div class="content">General Lagos 2086
                                    Edificio 2000, Oficina 2211.
                                    Valdivia, Los Ríos.
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="title">Email</div>
                                <div class="content">fzilic@okeanos.cl </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l8 m6 s12">
                        <div class="card-panel hoverable">
                            <form>
                                <div class="row">
                                    <div class="input-field col m6 s12">
                                        <i class="material-icons prefix">people</i>
                                        <input id="first_name" type="text" class="validate">
                                        <label for="first_name">Nombre</label>
                                    </div>
                                    <div class="input-field col m6 s12">
                                        <i class="material-icons prefix">mail</i>
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">people</i>
                                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                                        <label for="textarea1">Contenido</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
