{% extends 'web/base.html' %}
{% load staticfiles thumbnail cache i18n %}
{% block main %}
    <section class="blog-main section scrollspy">
        <div class="detail-cabecera parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container white-text padding-top-med">
                    <div class="header">{{ entrada.get_tipo_publicacion_display }}</div>
                    <div class="subheader">{{ entrada.autor.first_name }} {{ entrada.autor.last_name }}</div>
                    <div class="right"><a class="black-text" href="{% url 'blog-app:list_author' entrada.autor.username %}">Ver
                        más de este autor</a></div>
                </div>
            </div>
            <div class="parallax"><img src="{% static 'img/sea-2322517_1920.jpg' %}"></div>
        </div>
    </section>
    <div class="blog-main fondo-gris-1 padding-top-med padding-bot-min">
        <div class="container">
            <div class="row">
                <div class="col l4 m12 right aside">
                    <div class="container">
                        <div class="container">
                            <div class="title">{% trans 'Etiquetas' %}</div>
                            <div class="chip">
                                <a href="{% url 'blog-app:home' %}"
                                   class="black-text">Todas</a>
                            </div>
                            {% for etiqueta in all_tags %}
                                <div class="chip">
                                    <a href="{% url 'blog-app:list_tag' etiqueta.slug %}"
                                       class="black-text">{{ etiqueta.titulo|title }}</a>
                                </div>
                            {% endfor %}
                            <div class="title">{% trans 'Post recientes' %}</div>
                            <hr class="hr-1">
                            {% for entrada in all_entries %}
                                {% if entrada.url_externa %}
                                    <a href="{{ entrada.url_externa }}" class="black-text">
                                        <div class="entrada padding-top-min padding-bot-min">
                                            <div class="title">{{ entrada.headline }} <i
                                                    class="material-icons right">open_in_new</i>
                                            </div>
                                            <div class="date">{{ entrada.fecha_publicacion }}</div>
                                            <hr class="hr-2">
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{ entrada.get_absolute_url }}" class="black-text">
                                        <div class="entrada padding-top-min padding-bot-min">
                                            <div class="title">{{ entrada.subtitulo }}</div>
                                            <div class="date">{{ entrada.fecha_publicacion }}</div>
                                            <hr class="hr-2">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col l8 m12 card-panel white">
                    <h3 class="headline">{{ entrada.subtitulo }}
                        {% if request.user.is_superuser %}
                            <a class="right btn-floating waves-effect btn-flat color-1 pulse"
                               href="{{ entrada.get_admin_url }}">
                                <i class="material-icons">mode_edit</i></a>
                        {% endif %}
                    </h3>
                    <h4 class="subheadline">{{ entrada.subtitulo }}</h4>
                    <div class="row">
                        <h5 class="right-align pub-date">
                            {% if entrada.autor.first_name and entrada.autor.last_name %}
                                <i class="material-icons tiny">people</i> {{ entrada.autor.first_name }}
                                {{ entrada.autor.last_name }}
                            {% endif %}
                            {% if entrada.ubicacion %}
                                <i class="material-icons tiny">location_on</i> {{ entrada.ubicacion }}
                            {% endif %}
                            <i class="material-icons tiny">date_range</i> {{ entrada.fecha_publicacion }}
                        </h5>
                    </div>
                    <div class="tags">
                        Etiquetas:
                        {% for tag in entrada.etiqueta.select_related %}
                            <div class="chip">{{ tag.titulo|title }}</div>
                        {% endfor %}
                    </div>
                    <div class="right-align">
                        <h5 class="right-align pub-date location"></h5>
                    </div>
                    {% if entrada.resumen %}
                        <hr>
                        <div class="summary">{{ entrada.resumen }}</div>
                    {% endif %}
                    {% if entrada.imagen_entrada.select_related %}
                        <hr>
                        <div class="subheadline">Galería:</div>
                        <div class="detail-slider slider">
                            <ul class="slides">
                                {% for image in entrada.imagen_entrada.select_related %}
                                    <li>
                                        <img src="{% thumbnail image.archivo 'detalle-miniatura' %}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <hr>
                    <div class="content padding-bot-med">
                        {{ entrada.contenido|safe }}
                    </div>
                    {% if entrada.archivo_entrada.select_related %}
                        <div class="galery-files padding-top-med">
                            <div class="subheadline">{% trans 'Archivos' %}:</div>
                            {% for foo in entrada.archivo_entrada.select_related %}
                                <a download="" href="{{ MEDIA_URL }}{{ foo.archivo }}"
                                   class="chip">{{ foo }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entrada.video_entrada.select_related %}
                        <div class="gallery-videos padding-bot-min padding-top-med">
                            <div class="subheadline">{% trans 'Videos' %}:</div>
                            <ul id="tabs-swipe-demo" class="tabs">
                                {% for video in entrada.video_entrada.select_related %}
                                    <li class="tab col s3"><a
                                            href="#test-swipe-video-{{ video.id }}"> {{ video }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for video in entrada.video_entrada.select_related %}
                                <div id="test-swipe-video-{{ video.id }}" class="col s12 height-video">
                                    <video preload=auto controls class="responsive-video">
                                        <source src="{{ MEDIA_URL }}{{ video.archivo }}" type="video/mp4">
                                    </video>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if entrada.comentarios_facebook %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=222427671463375";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="col l8 m12 s12 card-panel white">
                        <h3 class="headline">{% trans 'Comentarios' %}:</h3>
                        <div class="fb-comments"
                             data-href="http://www.okeanos.cl/comentario/{{ entrada.slug }}"
                             data-width="100%" data-numposts="5"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra-js %}
{% endblock %}