{% extends 'web/base.html' %}
{% load staticfiles thumbnail cache %}
{% block menu-links %}
    <ul class="right options-nav hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}#somos">Somos</a></li>
        <li><a href="{% url 'blog-app:home' %}">Blog</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="">Home</a></li>
        <li><a href="">Somos</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
{% endblock %}
{% block main %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=222427671463375";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <section class="blog-main section scrollspy" id="blog">
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container white-text">
                    <div class="header">{{ entry.get_publication_type_display }}</div>
                    <div class="subheader">{{ entry.author.first_name }} {{ entry.author.last_name }}</div>
                    <div class="right">Ver más de este autor</div>
                </div>
            </div>
            <div class="parallax"><img src="{% static 'img/sunrise-1756274_1920.jpg' %}"></div>
        </div>
    </section>
    <div class="blog-main fondo-gris-1 padding-top-med padding-bot-min">
        <div class="container">
            <div class="row">
                <aside class="col l4 right">
                    <div class="container">
                        <div class="container">
                            <div class="title">Etiquetas</div>
                            <div class="chip">
                                <a href="{% url 'blog-app:home' %}"
                                   class="black-text">Todas</a>
                            </div>
                            {% for tag in all_tags %}
                                <div class="chip">
                                    <a href="{% url 'blog-app:list_tag' tag.title %}"
                                       class="black-text">{{ tag.title|title }}</a>
                                </div>
                            {% endfor %}
                            <div class="title">Post recientes</div>
                            <hr class="hr-1">
                            {% for entry in all_entries %}
                                <a href="{% url 'blog-app:detail_entry' entry.slug %}" class="black-text">
                                    <div class="entry padding-top-min padding-bot-min">
                                        <div class="title">{{ entry.headline }}</div>
                                        <div class="date">{{ entry.pub_date }}</div>
                                        <hr class="hr-2">
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
                <div class="col l8 card-panel white">
                    <h3 class="headline">{{ entry.headline }}
                        {% if request.user.is_superuser %}
                            <a class="right btn-floating waves-effect btn-flat color-1 pulse"
                               href="{{ entry.get_admin_url }}">
                                <i class="material-icons">mode_edit</i></a>
                        {% endif %}
                    </h3>
                    <h4 class="subheadline">{{ entry.subheadline }}</h4>
                    <div class="row">
                        <h5 class="right-align pub-date">
                            <i class="material-icons tiny">people</i> {{ entry.author }}
                            <i class="material-icons tiny">location_on</i> {{ entry.location }}
                            <i class="material-icons tiny">date_range</i> {{ entry.pub_date }}
                        </h5>
                    </div>
                    <div class="tags">
                        Etiquetas:
                        {% for tag in entry.tags.select_related %}
                            <div class="chip">{{ tag.title|title }}</div>
                        {% endfor %}
                    </div>
                    <div class="right-align">
                        <h5 class="right-align pub-date location"></h5>
                    </div>
                    <hr>
                    <div class="summary">{{ entry.summary }}</div>
                    <hr>
                    <div class="content padding-bot-med">
                        {{ entry.content|safe }}
                    </div>
                    {% if entry.image_post.select_related %}
                        <div class="galery-img">
                            <div class="subheadline">Imagenes:</div>
                            {% for image in entry.image_post.select_related %}
                                <a href="{{ image.file }}" class="chip">{{ image }}</a>
                            {% endfor %}
                        </div>
                        <ul id="tabs-swipe-demo" class="tabs">
                            {% for image in entry.image_post.select_related %}
                                <li class="tab col s3"><a href="#test-swipe-{{ image.id }}"> {{ image }}</a></li>
                            {% endfor %}
                        </ul>
                        {% for image in entry.image_post.select_related %}
                            <div id="test-swipe-{{ image.id }}" class="col s12">
                                <img src="{{ MEDIA_URL }}{{ image.file }}" alt="">
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if entry.file_entry.select_related %}
                        <div class="galery-files padding-top-med">
                            <div class="subheadline">Archivos:</div>
                            {% for foo in entry.file_entry.select_related %}
                                <a download="" href="{{ foo.file }}" class="chip">{{ foo }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entry.video_post.select_related %}
                        <div class="gallery-videos padding-bot-min padding-top-med">
                            <ul id="tabs-swipe-demo" class="tabs">
                                {% for video in entry.video_post.select_related %}
                                    <li class="tab col s3"><a href="#test-swipe-video-{{ video.id }}"> {{ video }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for video in entry.video_post.select_related %}
                                <div id="test-swipe-video-{{ video.id }}" class="col s12 height-video">
                                    <video id="{{ video.id }}" class="video-js" controls preload width="640"
                                           height="400"
                                           poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                                        <source src="{{ MEDIA_URL }}{{ video.file }}" type='video/mp4'>
                                        <p class="vjs-no-js">
                                            Su navegador no es compatible con HTML5, lo sentimos
                                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                                                HTML5
                                                video</a>
                                        </p>
                                    </video>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if entry.facebook_comments %}
        <div class="blog-main fondo-gris-1 padding-bot-med">
            <div class="container">
                <div class="row">
                    <div class="col l8 card-panel white">
                        <h3 class="headline">Comentarios:</h3>
                        <div class="fb-comments"
                             data-href="http://www.okeanos.cl/comentario/{{ entry.slug }}"
                             data-width="100%" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}