{% extends 'web/base.html' %}
{% load staticfiles %}
{% block menu-links %}
    <ul class="right options-nav hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}#somos">Somos</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="">Home</a></li>
        <li><a href="">Somos</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
{% endblock %}
{% block main %}
    <section class="blog-main section scrollspy" id="blog">
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container white-text">
                    <div class="header">{{ pagina.titulo }}</div>
                    <div class="subheader">{{ pagina.subtitulo }}</div>
                    <div class="right">{{ pagina.now }}</div>
                </div>
            </div>
            <div class="parallax"><img src="{% static 'img/sunrise-1756274_1920.jpg' %}"></div>
        </div>
    </section>
    <div class="blog-main white padding-top-med padding-bot-med">
        <div class="container">
            <div class="row">
                <aside class="col l4 right">
                    <div class="container">
                        <div class="container">
                            <div class="title">Etiquetas</div>
                            <div class="chip">
                                <a href="{% url 'blog-app:home' %}"
                                   class="black-text">Todas</a>
                            </div>
                            {% for tag in all_tags %}
                                <div class="chip">
                                    <a href="{% url 'blog-app:list_tag' tag.title %}"
                                       class="black-text">{{ tag.title|title }}</a>
                                </div>
                            {% endfor %}
                            <div class="title">Post recientes</div>
                            <hr class="hr-1">
                            {% for entry in all_entries %}
                                <a href="{% url 'blog-app:detail_entry' entry.slug %}" class="black-text">
                                    <div class="entry padding-top-min padding-bot-min">
                                        <div class="title">{{ entry.headline }}</div>
                                        <div class="date">{{ entry.pub_date }}</div>
                                        <hr class="hr-2">
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
                <div class="col l8">
                    {% for entry in last_entries %}
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    {% if entry.first_img %}
                                        <img src="{{ MEDIA_URL }}{{ entry.first_img.file }}">
                                    {% else %}
                                        <img src="{% static 'img/sunrise-1756274_1920.jpg' %}">
                                    {% endif %}
                                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"
                                       href="{{ entry.get_absolute_url }}">
                                        <i class="material-icons">add</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">{{ entry.headline }}</span>
                                    <p>{{ entry.subheadline }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="title">No existen post relacionados</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}