{% extends 'web/base.html' %}
{% load staticfiles thumbnail %}
{% block menu-links %}
    <ul class="right options-nav hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}#somos">Somos</a></li>
        <li><a href="{% url 'blog-app:home' %}">Blog</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="">Home</a></li>
        <li><a href="">Somos</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
{% endblock %}
{% block main %}
    <section class="blog-main section scrollspy" id="blog">
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container white-text">
                    <div class="header">{{ pagina.titulo }}</div>
                    <div class="subheader">{{ pagina.subtitulo }}</div>
                    <div class="right">{{ pagina.now }}</div>
                </div>
            </div>
            <div class="parallax"><img src="{% static 'img/sunrise-1756274_1920.jpg' %}"></div>
        </div>
    </section>
    <div class="blog-main white padding-top-med padding-bot-med">
        <div class="container">
            <div class="row">
                <div class="col l4 m12 right aside">
                    <div class="container">
                        <div class="container">
                            <div class="title">Etiquetas</div>
                            <div class="chip">
                                <a href="{% url 'blog-app:home' %}"
                                   class="black-text">Todas</a>
                            </div>
                            {% for tag in all_tags %}
                                <div class="chip">
                                    <a href="{% url 'blog-app:list_tag' tag.title %}"
                                       class="black-text">{{ tag.title|title }}</a>
                                </div>
                            {% endfor %}
                            <div class="title">Post recientes</div>
                            <hr class="hr-1">
                            {% for entry in all_entries %}
                                {% if entry.external_url %}
                                    <a href="{{ entry.external_url }}" class="black-text">
                                        <div class="entry padding-top-min padding-bot-min">
                                            <div class="title">{{ entry.headline }} <i class="material-icons right">open_in_new</i>
                                            </div>
                                            <div class="date">{{ entry.pub_date }}</div>
                                            <hr class="hr-2">
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{ entry.get_absolute_url }}" class="black-text">
                                        <div class="entry padding-top-min padding-bot-min">
                                            <div class="title">{{ entry.headline }}</div>
                                            <div class="date">{{ entry.pub_date }}</div>
                                            <hr class="hr-2">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col l8 m12">
                    <div class="row container-masonry">
                        {% for entry in last_entries %}
                            <div class="col s12 m6 item">
                                <div class="card">
                                    <div class="card-image">
                                        {% if entry.first_img %}
                                            <img src="{% thumbnail entry.first_img.file 'card-img' %}">
                                        {% else %}
                                            <img src="{% static 'img/sunrise-1756274_1920.jpg' %}">
                                        {% endif %}
                                        {% if entry.external_url %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entry.external_url }}" target="_blank">
                                                <i class="material-icons">link</i>
                                            </a>
                                        {% else %}
                                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light color-1 pulse"
                                               href="{{ entry.get_absolute_url }}">
                                                <i class="material-icons">add</i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{ entry.headline }}</span>
                                        <p>{{ entry.subheadline }}</p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="title">No existen post relacionados</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}