{% load staticfiles thumbnail cache i18n  %}
<div class="pictures-team container">
    <div class="row center-align center">
        <div class="col l4 m6">
            {# reemplazar src con la imagen dentro del directorio "static" en el proyecto #}
            <img class="responsive-img"
                 src="{% static 'img/Stuart.png' %}"
                 alt="">
            <div class="overlay white-text padding-top-med">
                <div class="nombre padding-bot-min">Federico Zilic de Arcos</div>
                <hr>
                <div class="cargo padding-top-min padding-bot-min">{% trans 'Gerente General' %}</div>
                <div class="titulo">{% trans 'Ingeniero Naval' %}</div>
                <div>
                    {# Añadir href de las redes sociales #}
                    <a class="white-text" href="">
                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col l4 m6">
            <img class="responsive-img"
                 src="{% static 'img/Kevin.jpg' %}"
                 alt="">
            <div class="overlay white-text padding-top-med">
                <div class="nombre padding-bot-min">Alexssander Cabeza Strange</div>
                <hr>
                <div class="cargo padding-top-med padding-bot-med">{% trans 'Jefe de Ingeniería' %}</div>
                <div class="titulo">{% trans 'Ingeniero Civil Electrónico' %}</div>
                <div class="">
                    <a class="white-text" href="">
                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col l4 m6">
            <img class="responsive-img"
                 src="{% static 'img/Kevin.jpg' %}"
                 alt="">
            <div class="overlay white-text padding-top-med">
                <div class="nombre padding-bot-min">Alexssander Cabeza Strange</div>
                <hr>
                <div class="cargo padding-top-med padding-bot-med">{% trans 'Jefe de Ingeniería' %}</div>
                <div class="titulo">{% trans 'Ingeniero Civil Electrónico' %}</div>
                <div class="">
                    <a class="white-text" href="">
                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="hide-on-med-and-down col s1 offset-s1"></div>
        <div class="col l4 m6">
            <img class="responsive-img"
                 src="{% static 'img/bob.jpg' %}"
                 alt="">
            <div class="overlay white-text padding-top-med">
                <div class="nombre padding-bot-min">Álvaro Olmos Cruz</div>
                <hr>
                <div class="cargo padding-top-med padding-bot-med">{% trans 'Jefe de desarrollo de software' %}</div>
                <div class="titulo">{% trans 'Ingeniero Civil Informático' %}</div>
                <div class="">
                    <a class="white-text" href="">
                        <i class="small fa fa-email" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col l4 m6">
            <img class="responsive-img"
                 src="{% static 'img/rapero.jpg' %}"
                 alt="">
            <div class="overlay white-text padding-top-med">
                <div class="nombre padding-bot-min">{% trans 'Fabian Ritter Gutierrez' %}</div>
                <hr>
                <div class="cargo padding-top-med padding-bot-med">{% trans 'Desarrollador de algoritmos especializados' %}</div>
                <div class="titulo">{% trans 'Ingeniero Civil Acústico' %}</div>
                <div class="">
                    <a class="white-text" href="">
                        <i class="small fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-instagram-square" aria-hidden="true"></i>
                    </a>
                    <a class="white-text" href="">
                        <i class="small fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>